.mySwiperFirstSection {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.swiperImg {
  filter: brightness(0.5);
}

.swiper {
  width: 100%;
  height: 500px;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallaxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiperTitle {
  font-size: 41px;
  font-weight: 300;
}

.swiperSubtitle {
  font-size: 21px;
}

.swiperText {
  font-size: 14px;
  max-width: 600px;
  line-height: 1.5;
  margin-top: 1rem;
}
.secondLayer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.secondLayerImg {
  width: 350px;
  height: 350px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.servicesSwiperImg {
  width: 100% !important;
  height: 200px !important;
  object-fit: fill !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset !important;
}
.boxContent {
  background-color: #03045e;
  color: #fff;
  padding: 1rem;
}
.sectionThird {
  background-color: #caf0f8;
  padding: 2rem;
}
.sectionFourth {
  background-color: #fff;
  padding: 2rem;
}
.sectionThird .section {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sectionThirdImg {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.sectionThird .title {
  color: #023e8a;
  font-size: 16px;
  font-weight: 600;
  /* text-align: center; */
}
.sectionFourth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/png&jpg/motherBoardDark.png");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  /* filter: brightness(0.8); */
  background-attachment: fixed !important;
  position: relative;
}
.sectionFourth .imageBanner {
  margin-top: 2rem;
  margin-bottom: 6rem;
  position: relative;
}
.sectionFourth .title {
  text-shadow: 7px -8px 8px rgba(177, 173, 179, 1);
  /* background-color: rgba(254, 173, 255, 0.1); */
  color: rgba(255, 255, 255, 1);
  font-size: 42px;
  margin-bottom: 3rem;
}
.sectionFourth .details {
  margin-top: 2rem;
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
}
.sectionFourth .keyPoints {
  color: var(--topHeader1Background);
  font-weight: 600;
  background-color: rgb(217 217 244 / 42%);
}
.curveImg {
  background-image: url("../../assets/images/svg/waves.svg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  filter: brightness(0) saturate(100%) invert(27%) sepia(79%) saturate(2121%) hue-rotate(180deg) brightness(92%)
    contrast(102%);
  right: 0;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
} 
.sectionFiveth {
  background-color: #0077b6 !important;
  text-align: center;
  padding: 2rem;
}
